.chat-page {
  height: 50vh;
  width: 70vw;
  display: grid;
  grid-template:
    "chat-header " 120px
    "chat-main " 1fr/
    1fr;
}
.chat-header {
  grid-area: chat-header;
  outline: 1px black dotted;
}
.chat-main {
  grid-area: chat-main;
  outline: 1px white dotted;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}
.contacts-msg-list {
  outline: 1px red dotted;
}
.contacts-list {
  display: grid;
}
.conversation {
  display: grid;
  grid-template:
    "conversation-messages " 1fr
    "conversation-form " 30px/
    1fr;
}
.contact-notification {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contact-item {
  display: grid;
  grid-auto-flow: column;
  text-overflow: ellipsis;
}
.contact-avatar {
  height: 30px;
  clip-path: circle();
}
.conversation-messages {
  display: grid;
  grid-auto-flow: column;
}

.contact-message-content {
  background-color: aquamarine;
}

.my-message-content {
  background-color: rgb(253, 255, 127);
}

.conversation-form {
  outline: 1px solid black;

  align-self: flex-end;
}
