.sign-up-page {
  display: grid;
  /* height: 50vh; */
  width: 30vw;

  /* place-content: center; */
  place-items: center;
  /* font: small-caps bold 24px/1 sans-serif; */
}
.sign-up-title {
  color: blanchedalmond;
}
.sign-up-form {
  display: grid;
  place-items: center;
  font: italic small-caps bold 16px/2 cursive;
}
.sign-in-link {
  color: rgb(231, 231, 231);
  text-decoration: none;
}
